<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This website is develop for identify the safety of url.">
    <meta name="keywords" content="phishing url,phishing,cyber security,machine learning,classifier,python">
    <meta name="author" content="BALAJI ">
    <title>DETECTION OF PHISHING URLs </title>
    <link href="static\style.css" rel="stylesheet">
</head>
<body>
<div class="url1"><I><h1>DETECTION OF PHISHING URLs </h1></I><br>
    <form action="/" method ="post">
        <div class="url2"><label>ENTER URL: </label><input type="text" class="input" name="url" placeholder="ENTER URL" required=""/>
        </div><br>
        <button class="button" role="button" >Check here</button>
        </form><br>
    <center><h6><a href= {{ url }} target="_blank">{{ url }}</a></h6><br>
    <h3 id="prediction"></h3></center>
</div>
<script>
        let x = '{{xx}}';
            if(x==1){
                var label ="LEGITIMATE";
                document.getElementById("prediction").innerHTML = label;
            }
            else if (x==0 || x==-1){
                var label = "PHISHING"
                document.getElementById("prediction").innerHTML = label ;
            }
        
</script>

<BR>
      
</body>


</html>

